.blog {
    @at-root #{&}__card {
        figure {}
    }
}

.post-summary {
    .date {
        @include font-size(1.2);
        display: block;
    }
    .title {
        line-height: 1.2;
        color: $color-90;
    }
    p {
        margin-bottom: 10px;
    }
    .truncate-ellipsis {
        @include ellipsis(75px, 3);
    }
}

.post-foot {
    border-top: 1px solid $color-border;
    padding-top: 10px;
    a {
        @include links($color-50, $color-50, $color-brand-primary, $color-50);
    }
    i {
        @include font-size(1.8);
        vertical-align: middle;
    }
}