.content {
    @at-root #{&}__gutter-up-down {
        padding-top: 35px;
        padding-bottom: 35px;
        @include breakpoint(xs) {
            padding: 35px 0;
        }
    }
    @at-root #{&}__gutter-left-right {
        padding-left: 100px;
        padding-right: 100px;
        @include breakpoint(xs) {
            padding: 50px 0;
        }
    }
    blockquote {
        padding: 0 0 0 30px;
        line-height: 1.8;
        @include font-size(1.6);
    }
}
