header {
    @at-root .#{&}--main {
        width: 100%;
        position: fixed;
        top: auto;
        padding: 0;
        z-index: 2;
    }
    @at-root .#{&}__info {
        padding: 10px 15px;
        .list-inline {
            margin-bottom: 0;
            margin-left: 0;
        }
    }
}

.company-account {
    text-align: right;
}
