.stats-wrap {
    padding: 20px 0;
    ul {
        li {
            margin: 0 50px;
            @include breakpoint(sm) {
                margin: 0 25px;
            }
            @include breakpoint(xs) {
                margin: 0 0 15px;
                display: block;
            }
        }
    }
    .stats-numbers {
        display: block;
        @include font-size(4);
        color: $color-80;
    }
    small {
        @include font-size(1.6);
        color: $color-50;
        text-transform: uppercase;
    }
}