.breadcrumb-wrap {
    border-top: 1px solid $color-10;
    border-bottom: 1px solid $color-10;
    padding: 10px 0;
    .title {
        @include inline-block;
        vertical-align: middle;
        margin: 0 30px 0 0;
    }
}

.breadcrumb {
    background: none;
    @include inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    a {
        @include links($color-link, $color-link, $color-link-hover, $color-active);
    }
    &>li {
        &:first-child {
            padding-left: 0;
        }
    }
    &>li+li {
        &:before {
            padding: 0 10px 0 2px;
            color: $color-40;
        }
    }
}