.btn {
    border: none;
    @include font($header-font, normal, 400);
    @include font-size(1.4);
    text-transform: uppercase;
    padding: 10px 15px 10px;
    //white-space: normal;
    @include transition;
    &.btn-super-lg {
        @include font-size(2);
        padding: 15px 30px 17px;
    }
    &.btn-lg {
        @include font-size(2);
        padding: 8px 25px 10px;
    }
    &.btn-md {
        @include font-size(1.8);
        padding: 7px 20px 9px;
    }
    &.btn-sm {
        @include font-size(1.6);
        padding: 6px 20px 8px;
    }
    &.btn-xs {
        @include font-size(1.2);
        padding: 6px 18px;
        i {
            @include font-size(1.1);
            vertical-align: middle;
        }
    }
    &:focus {
        outline: none;
        border: none;
    }
}

button {
    &:focus {
        outline: none;
        border: none;
    }
}

.btn+.btn {
    margin: 0 5px;
}

.btn-default {
    background-color: transparent;
    border: 1px solid;
    border-color: $color-50;
    @include links($color-base, $color-base, $color-base, $color-base);
    &:hover,
    &:focus {
        background-color: white(.5);
        border: 1px solid;
        border-color: $color-50;
    }
}

.btn-primary {
    background-color: $color-brand-secondary;
    border-color: $color-brand-secondary;
    @include links($color-white, $color-white, $color-white, $color-white);
    &:hover,
    &:focus {
        background-color: darken($color-brand-secondary, 20%);
    }
}

.btn-success {
    background-color: $color-success;
    border-color: $color-success;
    @include links($color-white, $color-white, $color-white, $color-white);
    &:hover,
    &:focus {
        background-color: darken($color-success, 20%);
    }
}

.btn-info {
    background-color: $color-info;
    border-color: $color-info;
    @include links($color-white, $color-white, $color-white, $color-white);
    &:hover,
    &:focus {
        background-color: darken($color-info, 20%);
    }
}

.btn-warning {
    background-color: $color-warning;
    border-color: $color-warning;
    @include links($color-white, $color-white, $color-white, $color-white);
    &:hover,
    &:focus {
        background-color: darken($color-warning, 20%);
    }
}

.btn-danger {
    background-color: $color-danger;
    border-color: $color-danger;
    @include links($color-white, $color-white, $color-white, $color-white);
    &:hover,
    &:focus {
        background-color: darken($color-danger, 20%);
    }
}

.btn-link {
    background-color: $color-white;
    border-color: $color-white;
    @include links($color-80, $color-80, $color-80, $color-80);
    &:hover,
    &:focus {
        background-color: darken($color-white, 20%);
    }
}

.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
    background: $color-brand-primary;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background: $color-brand-secondary;
}

.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
    background: $color-warning;
}

.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
    background: $color-info;
}

.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
    background: $color-danger;
}