// Margin top
.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-t-45 {
    margin-top: 45px;
}

// Margin bottom
.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-45 {
    margin-bottom: 45px;
}

// Margin Reft
.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-l-45 {
    margin-left: 45px;
}

// Margin Right
.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-r-45 {
    margin-right: 45px;
}

.no-margin {
    margin: 0;
}

// Padding Top
.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-t-45 {
    padding-top: 45px;
}

// Padding Bottom
.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.p-b-45 {
    padding-bottom: 45px;
}

// Padding Left
.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-l-45 {
    padding-left: 45px;
}

// Padding Right
.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-r-45 {
    padding-right: 45px;
}

.no-padding {
    padding: 0;
}