.navbar {
    min-height: 20px;
    margin-bottom: 0
}

.navbar-nav {
    margin-top: 4px;
}

.navbar-brand {
    padding: 0;
    height: auto;
    img {
        max-width: 85%;
    }
}

.nav-pills {
    &>li {
        &>a {
            border-radius: 25px;
            padding: 12px 20px;
            @include font-size(1.3);
            line-height: 1;
            @include links($color-70, $color-70, $color-link-hover, $color-active);
        }
        &.active {
            &>a,
            &>a:focus,
            &>a:hover {
                background-color: $color-brand-primary;
            }
        }
    }
}

.collapse-icon {
    /*display: inline-block;*/
    @include centerer(false, true);
    right: 0;
    line-height: 1;
    a {
        @include links($color-brand-primary, $color-brand-primary, $color-brand-primary, $color-brand-primary) i {
            @include font-size(1.8);
        }
    }
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    border-color: $link-color;
}